/*style for Registeration Form */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.right i
{
    color:#1f1fc0;
    font-size:40px;
}
.main
{
    display: flex;
    flex-wrap: wrap;
    width:80%;
    height:680px;
    margin:40px auto;
    box-shadow:2px 2px 6px black;
    z-index:1;
}
.left
{
    color: white;
    flex:40%;
    text-align: center;
    padding:20px;
    background-image:url('blue-copy-space-digital-background_23-2148821698.jpg');
    background-size: cover;
}
.right
{
    flex:40%;
    padding:1px 10px;
}
.right .name
{
    float: left;
    margin:10px;
}
input
{
    padding:10px;
    width:190px;
    border:none;
    border-bottom:1px solid rgb(206, 200, 200);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.mail,.telephone,.address,.gender
{
    clear: both;
    margin:10px;
}
.mail input,.telephone input,.address input
{
    width:96%;
}
.Password
{
    margin:10px;
    float:left;
}
.gender input
{
    width:50px;
}
input[type=submit]
{
    width:100%;
    border-radius:10px;
    margin-top:45px;
    background-color:rgb(12, 207, 61);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    color: white;
}
input[type=submit]:hover
{
    background-color: cadetblue;
}
.main a
{
    display: block; 
    border:2px solid white;
    color: white;
    padding:20px 25px;
    margin: 10px auto;
    text-decoration:none;
    width:200px;
}
/*media screen*/
@media screen and (max-width:860px)
{
    .main
    {
        width:100%;
        height:1040px;
        margin:0;
    }
    .right
    {
        padding:2px 0px;
    }
    input ,.mail input,.telephone input,.address input
    {
        width:780px;
    }
    input[type=submit]
    {
        width:820px;
        border-radius:10px;
        margin:20px 3px;
    }
    h1 
    {
        text-align: center;
    }
}
@media screen and (max-width:400px)
{
    .main
    {
        width:100%;
        height:1040px;
        margin:0;
    }
    .right
    {
        padding:2px 0px;
    }
    input ,.mail input,.telephone input,.address input
    {
        width:324px;
    }
    input[type=submit]
    {
        width:360px;
        border-radius:10px;
        margin:20px 3px;
    }
    h1 
    {
        text-align: center;
    }
}